@import url(./normalize.css);
@import url(./reset.css);

body {
  background-color: bisque;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.header {
  background-color: burlywood;
}

.visual {
  background-color: orange;
}

.main {
  background-color: pink;
}

.slogan {
  background-color: palevioletred;
}

.footer {
  background-color: brown;
}