@import url(./normalize.css);
@import url(./reset.css);

*, *::before, *::after{
  box-sizing:border-box;
}

/*  본문 스타일 */
body {
  background-color: bisque;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: burlywood;
  padding: 0 30px;
  height: 15vh;
}

/* 비주얼 */
.visual {
  background-color: orange;
  height: 10vh;
}

/* 메인 */
.main {
  background-color: pink;
  min-height: 450px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 30px;
  /* flex-direction: row;
  flex-wrap: nowrap; */
}

.group1 {
  background-color: violet;
  width: 250px;
  /* flex-shrink: 2; */
}

.group2 {
  background-color: hotpink;
  width: 380px;
  /* flex-shrink: 1; */
}

.group3 {
  background-color: purple;
  /* flex-grow: 1; */
  width: 190px;
  /* flex-shrink: 1; */
}

/* 슬로건 */
.slogan {
  background-color: palevioletred;
  height: 10vh;
}

/* 푸터 */
.footer {
  background-color: brown;
  height: 10vh;
}

.footer-inner {
  background-color: gray;
  height: 15vh;
}